html {
    scroll-behavior: smooth;
}

body {
   font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: palevioletred;
    font-size: 50px;
}

h2 {
    color: pink;
    font-size: 45px;
}
.pinkback {
    width: 100%;
    max-height: 800px;
}

.infologo {
    border: 4px solid papayawhip;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: palevioletred;
    font-size: 40px;
    width: 1000px;
    height: 200px;
    background-color: white
}

.glogo{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.glogo2{
    width: 30%;
    position: absolute;
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.logoh2 {
    position: absolute;
    top: 30%;
    left: 500px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
}

.donut1 , .donut2 , .donut3 {
    width: 400px;
    height: 500px;
}

.bannerimg {
    width: 80%;
    height: 700px;
}

.instapromo , .instapromo2 , .instapromo3 , .instapromo4 , .instapromo5 , .instapromo6{
    width: 200px;
}

.table , .order {
    width: 50%;
}

.banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: papayawhip;
    height: 150px;
    margin-bottom: 25px;
}
li a {
    text-decoration: none;
    color: lightpink
}
li a:hover{
    text-decoration: underline;
    color:goldenrod;

}
ul {
    list-style-type: none;
}
li {
    display: inline;
    padding: 50px;
    font-size: 25px;
}

.glogo {
    width: 50%;
    float: right;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.glogo:hover {
    animation-name: jump;
    animation-duration: 2s;
    opacity:0.1;
    transition: opacity 0.3s;
}

@keyframes jump {
    50% { transform: translate(0, -90px); }
  }

.gallery {
    display: grid;
    grid-template-columns: auto auto auto; 
    justify-content: center;
    align-content: center; 
    margin-left: 90px;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: space-evenly;
}


.imagebanner {
    text-align: center;
    position: relative;
}

.donutmind {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
  }

  .domind {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
  }

.socialpromo {
    background-color: papayawhip;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    padding: 50px;
    text-align: center;
}

footer{
    background-color: papayawhip ;
    width: 100%;
    height: 75px;
}

.footerp {
    text-align: center;
    padding-top: 30px;
}

button {
    background-color: pink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 25px;
    position: absolute;
    right: 500px;
    margin-top: 20px;

}

button:hover {
    background: goldenrod;
}

.socialgallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: purple;
}

/*ABOUT PAGE*/

.display { 
    width: 100%;
    height: 700px;
    margin-top: 10px;
}

.story {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
}

.creating {
    font-size: 30px;
    
}

.whip , .bake {
    width: 20%;
    height: 500px;
    float:right;
    padding-top: 25px;
    padding-right: 40px;
}

.creates {
    background-color: white;
    border: 8px solid papayawhip;
    border-style: ridge;
    width: 800px;
    height: 300px;
    margin-left: 75px;
    font-size: 25px;
    line-height: 50px;
    margin-top: 50px;
    padding-left: 15px;
}

.create {
    padding-top: 40px;
    padding-left: 95px;
    color: pink;
}

.bio {
    position: relative;
    text-align: center;
    color: white;
}

.biop {
    position: absolute;
    top: 500px;
    left: 1000px;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.bioback {
    width: 70%;
    height: 50%;
    padding-top: 25px;
}

.owner , .ownerpic {
    width: 50%;
}

.meet {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: papayawhip;
    height: 150px;
    width: 100%;
}

.biopic {
    display: flex;
}

.gloria {
    font-size: 30px;
    background-color: papayawhip;
    height: 200px;
    width: 1000px;
    color: pink;
    border: 3px solid palevioletred;
    border-style: ridge;
    margin: auto;
    margin-top: 20px;
}

.room , .smile {
    width: 20%;
    height: 500px;
    padding-left: 40px;
    padding-top: 25px;
}

.location {
    background-color: white;
    border: 8px solid papayawhip;
    color: black;
    border-style: ridge;
    float:right;
    width: 800px;
    height: 300px;
    margin-right: 200px;
    font-size: 25px;
    line-height: 50px;
    margin-top: 10px;
    padding-left: 15px;
}
.hole {
    padding-left: 20px;
}
.store {
    padding-top: 30px;
    color: pink;
    float: right;
}

.checkout {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    padding: 50px;
    text-align: center;
    padding-bottom: 30px;
}

table, th, td {
    border: 1px solid;
    border-color: palevioletred;
    height: 50px;
    width: 800px;
    background-color: papayawhip;
    margin: auto;
    text-align: center;
}

.contacth2 , .geth2 , .storeh2 , .map  , .name ,.email ,.message{
    text-align: center;
}

input {
    width: 95%;
    height: 200px;
}

.name , .email , .message {
    border: 1px solid;
    border-color: palevioletred;
    height: 250px;
    width: 1000px;
    background-color: papayawhip;
    margin: auto;
}