/*Adds smooth scrolling to website*/
html {
    scroll-behavior: smooth;
}
/*Established font for entire website*/
body {
   font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Sets h1 properties like colour and font size*/
h1 {
    color: palevioletred;
    font-size: 20px;
}
.mainh1 {
    padding-left: 20px;
}
/*Sets h2 properties like colour and font size*/
h2 {
    color: pink;
    font-size: 20px;
}

/*Establishes width and height of the pink background*/
.pinkback {
    width: 100%;
}
/*Adds a border to the text box beside logo*/
.infologo {
    border: 4px solid papayawhip;
    position: absolute;
    top: 325px;
    left: 180px;
    transform: translate(-20%, -20%);
    color: palevioletred;
    font-size: 10px;
    width: 250px;
    height: 50px;
    background-color: white;
}

/*Sets logo to the right of page and sets a width*/
.glogo{
    width: 20%;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glogo2{
    width: 30%;
    position: absolute;
    top: 130px;
    right: 300px;
    transform: translate(-50%, -50%);
}
/*Sets h2 on top of pink background and ads a color and size*/
.logoh2 {
    position: absolute;
    top: 20%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
}

/*Establishes width for image gallery*/
.donut1 , .donut2 , .donut3 {
    width: 100%;
}
/*Sets dimensions for banner image*/
.bannerimg {
    width: 100%;
}

/*Dimensions for instagram social gallery layout*/
.instapromo , .instapromo2 , .instapromo3 , .instapromo4 , .instapromo5 , .instapromo6{
    width: 100px;
}
/*Establishes yellow background for Meet The Owner and aligns text to center*/
.banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color: papayawhip;
    width: 100%;
    margin-bottom: 20px;
}
/*Edits nav container by adding color and removing underline*/
.topnav {
    display: flex;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: lightpink;
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: goldenrod;
    color: white
  }
/*Adds dimensions for logo and floats image to right of page*/
.glogo {
    width: 50%;
    float: right;
}
/*Adds animation sequence and opacity on logo hover*/
.glogo:hover {
    animation-name: jump;
    animation-duration: 2s;
    opacity:0.1;
    transition: opacity 0.3s;
}
/*Keyframe creates jump animation for logo*/
@keyframes jump {
    50% { transform: translate(0, -90px); }
}
/*Places image gallery in grid format*/
.gallery {
    display: grid;
    grid-template-columns: auto auto auto; 
    justify-content: center;
    align-content: center; 
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: space-evenly;
}

/*Image banner to center to add text overtop*/
.imagebanner {
    text-align: center;
    position: relative;
}
/*Edits h2 class and places over banner image*/
.donutmind {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }
/*Edits h2 class and places over banner image*/
  .domind {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 12px;
  }
/*Adds yellow background to social media promo text and aligns center*/
.socialpromo {
    background-color: papayawhip;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    padding: 50px;
    text-align: center;
}
/*Edits footer color and aligns center*/
footer{
    background-color: papayawhip ;
    width: 100%;
    height: 50px;
    text-align: center;
    margin: auto;
    padding-top: 25px;
    margin-top: 25px;
    font-size: 10px;
}
/*Adds styling to form send button*/
button {
    background-color: pink;
    border: none;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 20px;
    position: absolute;
    right: 100px;
    margin-top: 5px;
}
/*Changes button color on hover*/
button:hover {
    background: goldenrod;
}
/*Adds flex to social media image gallery to center and align them*/
.socialgallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*Turns social media icons purple*/
a {
    text-decoration: none;
    color: purple;
}

/*ABOUT PAGE*/
/*Opening image on about page, center*/
.display { 
    width: 100%;
}
/*Story h1, centered to place over display image*/
.story {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}
/*Adds two images of baking to right of page*/
.whip , .bake {
    width: 250px;
    height: 300px;
    margin: auto;
}
.bakeimg {
    display: flex;
}
/*Edits h2 class and places over banner image*/
.creates {
    background-color: white;
    border: 3px solid papayawhip;
    border-style: ridge;
    width: 100%;
    font-size: 20px;
}
/*Edits p class and places over banner image*/
.create {
    padding-top: 10px;
    padding-left: 25%;
    color: pink;
}

/*Edits bio section photo to place text overtop*/
.bio {
    position: relative;
    text-align: center;
    color: white;
}
/*Edits bio section photo to place text overtop*/
.biop {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}
/*Edits story section photo dimensions*/
.bioback {
    width: 100%;
    padding-top: 25px;
}
/*Configured headshot photos sizes*/
.owner , .ownerpic {
    width: 50%;
}
/*Adds yellow background to Meet the Owner h2, centered*/
.meet {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: papayawhip;
    height: 100px;
    width: 100%;
}
/*Places owner bio pics in grid to have them side by side*/
.biopic {
    display: flex;
}
/*Adds border box to comapny owners biography*/

.gloria{
    font-size: 20px;
    background-color: white;
    width: 100%;
    border: 3px solid papayawhip;
    margin: auto;
    margin-top: 20px;
}

/*Places photo gallery to left while spacing them evenly*/
.room , .smile {
    width: 250px;
    height: 300px;
    margin: auto;
    padding-bottom: 20px;
}
.storeimg {
    display: flex;
    padding-top: 20px;
}
/*Floats location information box to left, adds yellow border */
.location {
    font-size: 20px;
    background-color: white;
    width: 80%;
    border: 3px solid papayawhip;
    margin: auto;
    margin-top: 20px;
}
/*Adds h2 padding to inlign with yellow text box under*/
.hole {
    padding-left: 180px;
    color: pink;
}
/*Floats holy moley text to right of page*/
.store {
    padding-top: 20px;
    float: right;
    margin: auto;
}
/*Edits social media link promo to center of page*/
.checkout {
    padding-left: 180px;
    color: pink;
}
.icons {
    padding-left: 50px;
}
/*Aligns table to center, adds pink and yellow background border*/
table, th, td {
    border: 1px solid;
    border-color: palevioletred;
    width: 400px;
    background-color: papayawhip;
    margin: auto;
    text-align: center;
}
/*Text align center for form information*/
.contacth2 , .geth2 , .storeh2 , .map  , .name ,.email ,.message{
    text-align: center;
}
/*Edits input area for costumer communication*/
input {
    width: 95%;
    height: 60px;
}
/*Adds border around input form*/
.name , .email , .message {
    border: 1px solid;
    border-color: palevioletred;
    height: 100px;
    width: 80%;
    background-color: papayawhip;
    margin: auto;
}
/*Adds margin top to map*/
.map {
    margin-top: 30px;
}
/*Adds accessibility link to jump from page items*/
.skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
}
/*Adds accessibility to jump from page items*/
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
/*MEDIA QUERIES FOR DESKTOP MODE*/
  @media screen and (min-width: 760px) {
    /*Resizes main h1 for desktop*/
    
    .mainh1 {
        font-size: 40px;
    }
     /*Resizes nav for desktop*/
      .topnav a {
        font-size: 20px;
        margin-left: 50px;
      }
    /*Resizes logo h2 item for desktop*/
    .logoh2 {
        font-size: 50px;
        position: absolute;
        top: 30%;
        left: 350px;
    }
    /*Resizes logo to fit desktop*/
    .glogo {
        width: 40rem ;
        position: absolute;
        top: 400px;
        left: 70%;
    }
     /*Resizes second logo on contact for desktop*/
    .glogo2 {
        width: 35%;
        top: 270px;
        right: 750px;
        transform: translate(-50%, -50%);
    }
    /*Resizes pink background image for desktop*/
    .pinkback {
        height: 500px;
    }
    /*Resizes info box and paragraph sizing for desktop*/
    .infologo {
        border: 6px solid papayawhip;
        position: absolute;
        top: 350px;
        left: 200px;
        font-size: 20px;
        width: 700px;
        height: 100px;
        line-height: 30px;
    }
    /*Adjusts gallery sizing and margins for desktop*/
    .gallery {
        width: 60%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /*Resizes banner image for desktop*/
    .bannerimg {
        width: 90%;
        height: 500px;
    }
     /*Adjusts white text font size for desktop*/
    .donutmind {
        font-size: 35px;
    }
    /*Adjusts white text font size for desktop*/
    .domind {
        font-size: 25px;
        color: white;
    }
    /*Adjusts social media text promo size for desktop*/
    .socialpromo {
        width: 100%;
    }
    /*Adjusts donut image on about page for desktop*/
    .display {
        height: 500px;
    }
    /*Adjusts text and placement for story description for desktop*/
    .story {
        font-size: 40px;
        top: 50%;
        left: 50%;
    }
    /*Resizes font size for create paragraph section for desktop*/
    .create{
        font-size: 30px;
        padding-top: 5px;
        padding-left: 10px;
    }
    /*Resizes two bakery image of store to fit desktop*/
    .whip , .bake {
        width: 250px;
        height: 300px;
        margin: 20px;
        margin-left: 30%;
    }
    /*Adds padding to bakery image towards left*/
    .bake {
        margin-left: 30px;
    }
    /*Resizes bio background for desktop*/
    .bioback {
        height: 600px;
        width: 90%;
    }
    /*Adjusts font size for biography paragraph for desktop*/
    .biop {
        font-size: 25px;
        top: 50%;
    }
    /*Resizes font for meet the owner and holy moley text*/
    .meet , .hole {
        font-size: 30px;
    }
    /*Adds margin space left to center h2 */
    .hole {
      margin-left: 425px;
    }
    /*Resizes store images to fit desktop*/
    .room , .smile {
        width: 250px;
        height: 300px;
        margin: 20px;
        margin-left: 30%;
    }
   /*Adds margin space left to center pink room image  */
    .room {
        margin-left: 25px;
    }
    /*Centers checkout text for instagram links */
    .checkout {
        margin-left: 450px;
    }
    /*Adjusts table for contact page to refit desktop*/
    table, th, td {
        width: 600px;
        background-color: papayawhip;
        margin: auto;
        text-align: center;
    }
    /*Makes font bigger for send button on contact page */
    button {
        font-size: 12px;
        margin-right: 15px;
    }
}